<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Markus Klein <%= ' - ' + current_article.title unless current_article.nil? %></title>
        <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
        <%= stylesheet_link_tag "site" %>
    </head>
    <body>
        <div class="top-bar monospace">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text page-title">{"<strong>@trestoa</strong>": "Markus Klein"}</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>

        <div id="main" role="main">
            <div class="row">
                <div class="small-12 medium-10 large-8 medium-offset-1 large-offset-2 column">
                    <%= yield %>
                </div>
            </div>
        </div>
        
        <footer class="monospace">
            <a href="https://nic.at/whois/">Impressum</a>
            <span class="float-right">Copyright (C) 2017, Markus Klein</span>
        </footer
    </body>
</html>
