---
pageable: true
per_page: 10
---
<div class="title">
    <h1>Blog posts</h1>
</div>

<% page_articles.each_with_index do |article, i| %>
    <div class="blog-summary">
        <h3><%= link_to article.title, article %> - <span><%= article.date.strftime('%b %e') %></span></h3>
        <!-- use article.summary(250) if you have Nokogiri available to show just the first 250 characters -->
        <%= article.summary(250) %>
    </div>
<% end %>
