<section class="main-section">
    <h1 class="monospace">About</h1>
    Hey there!
</section>

<section class="main-section">
    <h1 class="monospace">Projects</h1>
    <section class="project">
        <h4>Hedgehog</h4>
        <p>Educational Robotics Controller</p>
        <a href="https://hedgehog.pria.at/">https://hedgehog.pria.at</a>
        <div>
            <span class="label secondary">Robotics</span>
            <span class="label secondary">Web</span>
            <span class="label secondary">TypeScript</span>
            <span class="label secondary">Angular</span>
            <span class="label secondary">NodeJS</span>
        </div>
    </section>
    <section class="project">
        <h4>Der Naschmarkt</h4>
        <p>File Sharing Platform</p>
        <a href="https://github.com/TeachForAustria/Naschmarkt">https://github.com/TeachForAustria/Naschmarkt</a>
        <div>
            <span class="label secondary">File-Sharing</span>
            <span class="label secondary">Web</span>
            <span class="label secondary">PHP</span>
            <span class="label secondary">Laravel</span>
        </div>
    </section>
    <section class="project">
        <h4>LinkJVM</h4>
        <p>Java for the KIPR Link</p>
        <a href="https://github.com/LinkJVM/LinkJVM">https://github.com/LinkJVM/LinkJVM</a>
        <div>
            <span class="label secondary">Robotics</span>
            <span class="label secondary">Java</span>
            <span class="label secondary">C/C++</span>
        </div>
    </section>
</section>

<section class="main-section">
    <h1 class="monospace">Recent blog posts</h1>
    <% page_articles.take(3).each_with_index do |article, i| %>
        <div class="blog-summary">
            <h4><%= link_to article.title, article %> <small><%= article.date.strftime('%e %b %Y') %></small></h4>
            <!-- use article.summary(250) if you have Nokogiri available to show just the first 250 characters -->
            <%= article.summary(250).gsub(/<\/?[^>]*>/, "") %>
        </div>
    <% end %>
    <% if page_articles.count > 3 %>
    <%= link_to 'More posts', '/blog' %>
    <% end %>
</section>

<section class="main-section">
    <h1 class="monospace">Contact</h1>
    <p><img src="images/github.svg" class="logo-img"/>GitHub: <a href="https://github.com/trestoa" class="monospace">@trestoa</a></p>
    <p><img src="images/twitter.svg" class="logo-img"/>Twitter: <a href="https://twitter.com/trestoa" class="monospace">@trestoa</a></p>
    <p><img src="images/email.svg" class="logo-img"/>Email: <a href="mailto:m[et]mklein.co.at" class="monospace">m[et]mklein.co.at</a><br>[GPG <a href="https://keybase.io/klein/pgp_keys.asc" class="monospace">E7F2 AE69 1B24 B13E</a>]</p>
</section>
