<div class="title">
    <h1>About</h1>
</div>

Hey there!

<hr/>
<div class="title">
    <h1>Projects</h1>
</div>

Awesome projects!

<hr/>
<div class="title">
    <h1>Recent blog posts</h1>
</div>

<% page_articles.take(5).each_with_index do |article, i| %>
    <div class="blog-summary">
        <h3><%= link_to article.title, article %> - <span><%= article.date.strftime('%e %b %Y') %></span></h3>
        <!-- use article.summary(250) if you have Nokogiri available to show just the first 250 characters -->
        <%= article.summary(250).gsub(/<\/?[^>]*>/, "") %>
    </div>
<% end %>

<hr/>
<div class="title">
    <h1>Contact</h1>
</div>

Daten vong Kontakt her
